{% extends 'base.html.twig' %}

{% block head %}
  {{parent()}}
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200,400%7CLato:300,400,300italic,700%7CMontserrat:900" />
  <link rel="stylesheet" href="{{ asset('styles/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/style.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/mdi.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/fl-bigmug-line.css') }}" />
  {% endblock %}
  <link rel="icon" href="{{ asset('images/compuhelp/favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% if breadcrumbs %}
  {% set image = asset(imagepath) %}
{% else %}
  {% set posttitle = "" %}
  {% set postauthor = "" %}
  {% set image = "" %}
{% endif %}

{% block body %}
  <twig:compuhelp-preloader class="page-loader {{preloader_class}}" />
  <div class="page">
    <twig:compuhelp-navbar class="page-header {{header_class}}" activepage="{{activepage}}" breadcrumbs="{{breadcrumbs}}" posttitle="{{posttitle}}" postauthor="{{postauthor}}" image="{{image}}" />
    {% block page %}
    {% endblock %}
    <twig:compuhelp-footer recaptchakey="{{ha3key}}"/>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="{{ asset('js/core.min.js') }}"></script>
  <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}