{% extends 'base.html.twig' %}

{% block head %}
  {{parent()}}
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200,400%7CLato:300,400,300italic,700%7CMontserrat:900" />
  <link rel="stylesheet" href="{{ asset('styles/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/style.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/mdi.css') }}" />
  <link rel="stylesheet" href="{{ asset('styles/fl-bigmug-line.css') }}" />
  {% endblock %}
{% endblock %}

{% block body %}
  <twig:compuhelp-preloader />
  <div class="page">
    <twig:compuhelp-navbar />
    {% block page %}
    {% endblock %}
    <twig:compuhelp-footer />
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="{{ asset('js/core.min.js') }}"></script>
  <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}