{% extends 'compuhelp-base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block page %}
  <!--TechSavvy Solutions-->
  <section class="section bg-gray-darker text-center">
    <div class="section-xl bg-vide" data-vide-bg="mp4: ../video/office-day, poster: ../video/office-day"
      data-vide-options="posterType: jpg, position: 0% 50%">
      <div class="shell shell-wide">
        <div class="range range-50 range-sm-center">
          <div class="cell-sm-10 cell-lg-9">
{% if langSelector == "Français" %}
            <h1>TechSavvy Solutions</h1>
            <p class="big">Compuhelp! Enterprises is a one-person company created with the idea of bringing you multipurpose and flexible IT
            Solutions. With a wealth of experience in the field, René Lanteigne offers a personalized and hands-on approach to address all your IT needs.
            From troubleshooting technical issues to implementing strategic IT solutions, He is your go-to expert for efficient and effective IT consulting.
            He is also a veteran software designer, developer and database administrator. He uses various innovative technologies that make your work not only
            easier but more productive without unnecessary coding.</p><a class="button button-primary" href="/about-me">learn more</a>
{% else %}
            <h1>Solutions à la fine pointe de la technologie</h1>
            <p class="big">Les entreprises Compuhelp! est une compagnie unipersonnelle créée avec l'idée de vous offrir des solutions informatiques polyvalentes et flexibles.
            Fort d'une riche expérience dans le domaine, René Lanteigne vous propose une approche personnalisée et pratique pour répondre à tous vos besoins informatiques.
            du dépannage des problèmes techniques à la mise en &#339;uvre de solutions informatiques stratégiques, il est votre expert incontournable pour des conseils informatiques efficaces et efficients.
            Il est également un concepteur de logiciels, un développeur et un administrateur de bases de données chevronné. Il utilise diverses technologies innovantes qui rendent votre travail non seulement
            plus facile mais plus productif sans codage inutile.</p><a class="button button-primary" href="/fr/about-me">En apprendre davantage</a>
{% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Services-->
  <section class="section section-lg bg-white text-center">
    <div class="shell-wide">
      <div class="text-center">
{% if langSelector == "Français" %}
        <h3>My Services</h3>
{% else %}
        <h3>Mes Services</h3>
{% endif %}
        <div class="divider divider-default"></div>
      </div>
      <div class="range range-50 range-xs-center offset-custom-2">
      {% for service in services %}
        <twig:compuhelp-service service="{{service}}" />
      {% endfor %}
      </div>
    </div>
  </section>

  <!-- About Me-->
  <section class="section section-wrap section-wrap-lg section-reverse bg-image text-center" style="background-image:url('/images/compuhelp/aboutme.png')";>
    <div class="row g-5 text-center">
      <div class="col align-self-center p-5 text-center" >
{% if langSelector == "Français" %}
        <h3>About Me</h3>
{% else %}
        <h3>Qui suis-je ?</h3>
{% endif %}
        <hr class="divider divider-default" />
      </div>
      <div class="row g-5">
        <div class="column p-5" >
          <div class="p-5 col-5 bg-dark rounded" style="opacity: .85;" >
            <article class="quote-primary" >
              <svg class="quote-primary-mark opacity-100" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="25px" viewBox="0 0 35 25">
                <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5L7.539,10.206z"></path>
              </svg>
              <div class="quote-primary-text" style="opacity: 1;" >
{% if langSelector == "Français" %}
                <p>Empowering businesses through technology, I bridge the gap between vision and reality, turning challenges into opportunities, and transforming complexity into simplicity. In the realm of IT, my expertise is your strategic advantage.</p>
              </div>
              <p class="quote-primary-meta" style="opacity:1;" ><span style="opacity:1;" >by</span><span class="cite" style="opacity:1;" >René Lanteigne</span></p>
{% else %}
                <p>En donnant aux entreprises les moyens d'agir grâce à la technologie, je comble le fossé entre la vision et la réalité, transformant les défis en opportunités et transformant la complexité en simplicité. Dans le domaine informatique, mon expertise est votre avantage stratégique.</p>
              </div>
              <p class="quote-primary-meta" style="opacity:1;" ><span style="opacity:1;" >par</span><span class="cite" style="opacity:1;" >René Lanteigne</span></p>
{% endif %}
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 text-center">
      <div class="col align-self-center p-5 text-center">
{% if langSelector == "Français" %}
        <a class="button button-primary" href="/about-me">Learn more</a>
{% else %}
        <a class="button button-primary" href="/about-me">En apprendre davantage</a>
{% endif %}
      </div>
    </div>
  </section>
  <twig:compuhelp-advantages langSelector="{{langSelector}}" >
  <!-- Blog posts-->
  <section class="section section-lg bg-gray-lighter text-center">
    <div class="shell-wide">
      <div class="range">
        <div class="cell-xs-12">
{% if langSelector == "Français" %}
          <h3>Latest Blog Posts</h3>
{% else %}
          <h3>Derniers articles du blog</h3>
{% endif %}
          <div class="divider divider-default"></div>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-sm-items="2"
            data-lg-items="3" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false"
            data-dots="true">
            {% for post in recent_posts %}
              {% set image = asset(post.imagePath) %}
              <twig:compuhelp-postblog link="/blog?post={{post.id}}" image="{{image}}" category="{{post.category.name}}" title="{{post.title}}" datetime="{{post.getTimePosted()}}" /> 
            {% endfor %}
          </div>
        </div>
{% if langSelector == "Français" %}
      </div><a class="button button-primary" href="/blog">view all blog posts</a>
{% else %}
      </div><a class="button button-primary" href="/blog">voir tous les articles du blog</a>
{% endif %}
    </div>
  </section>
{% endblock %}
