{% extends 'compuhelp-base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block page %}
  <!-- Breadcrumbs-->
  <section class="breadcrumbs-custom bg-image">
    <div class="shell">
      <p class="heading-1 breadcrumbs-custom-title">Services</p>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">{{title}}</a></li>
        <li class="active">Services</li>
      </ul>
    </div>
  </section>

  <!-- a few words About Us -->
  <section class="section section-lg text-center text-sm-left bg-white">
    <div class="shell shell-wide"> 
      <div class="range range-50 range-sm-center range-lg-right range-lg-reverse range-xl-right">
        <div class="cell-sm-9 cell-md-8 cell-lg-6 cell-xl-5">
          <div class="box-range-content">
{% if langSelector == "Français" %}
            <h3>A few words About Me</h3>
            <div class="divider divider-default"></div>
            <p class="heading-5">I am an IT expert bringing you innovative web and IT solutions that combine captivating design and flawless functionality in every project.</p>
            <p class="text-spacing-sm">I know how to design and develop a website or app of any complexity. Regardless of what you are looking for, I can deliver a solution, which will elevate your business to unbelievable heights.</p><a class="button button-primary" href="/about-me">learn more</a>
{% else %}
            <h3>Quelques mots sur moi</h3>
            <div class="divider divider-default"></div>
            <p class="heading-5">Je suis un expert en informatique qui vous propose des solutions Web et informatiques innovantes qui combinent un design captivant et des fonctionnalités sans faille dans chaque projet.</p>
            <p class="text-spacing-sm">Je me spécialise dans la production de solutions logicielles de pointe et de services de conseil informatiques experts, garantissant que votre entreprise non seulement atteint, mais dépasse ses objectifs technologiques avec l'innovation, l'efficacité et une intégration transparente.</p><a class="button button-primary" href="/fr/about-me">En apprendre davantage</a>
{% endif %}
          </div>
        </div>
        <div class="cell-sm-9 cell-md-8 cell-lg-6 cell-xl-6 jp-video-init">
          <div class="build-video">
            <div class="build-video-inner"><img class="image-wrap" src="{{asset('images/compuhelp/block-video-870x500.png')}}" alt="" width="870" height="500"/>
            </div>
            <div class="build-video-element">
              <div class="jp-video jp-video-single">
                <div class="jp-type-playlist">
                  <!-- Hidden playlist for script-->
                  <ul class="jp-player-list">
                    <li class="jp-player-list-item" data-jp-m4v="{{asset('video/video.mp4')}}" data-jp-title="local video" data-jp-poster="{{asset('images/compuhelp/video-poster.jpg')}}"></li>
                  </ul>
                  <!-- container in which our video will be played-->
                  <div class="jp-jplayer"></div>
                  <!-- main containers for our controls-->
                  <div class="jp-gui">
                    <div class="jp-interface">
                      <div class="jp-controls-holder">
                        <!-- play and pause buttons--><a class="jp-play" href="javascript:;" tabindex="1">play</a><a class="jp-pause" href="javascript:;" tabindex="1">pause</a><span class="separator sep-1"></span>
                        <!-- progress bar-->
                        <div class="jp-progress">
                          <div class="jp-seek-bar">
                            <div class="jp-play-bar"><span></span></div>
                          </div>
                        </div>
                        <div class="jp-time-wrapper">
                          <!-- time notifications-->
                          <div class="jp-current-time"></div><span class="time-sep">/</span>
                          <div class="jp-duration"></div>
                        </div><span class="separator sep-2"></span>
                        <!-- mute / unmute toggle--><a class="jp-mute" href="javascript:;" tabindex="1" title="mute">mute</a><a class="jp-unmute" href="javascript:;" tabindex="1" title="unmute">unmute</a>
                        <!-- volume bar-->
                        <div class="jp-volume-bar">
                          <div class="jp-volume-bar-value"><span class="handle"></span></div>
                        </div><span class="separator sep-2"></span>
                        <!-- full screen toggle--><a class="jp-full-screen" href="javascript:;" tabindex="1" title="full screen">full screen</a><a class="jp-restore-screen" href="javascript:;" tabindex="1" title="restore screen">restore screen</a>
                      </div>
                      <!-- end jp-controls-holder-->
                    </div>
                    <!-- end jp-interface-->
                  </div>
                  <!-- end jp-gui-->
                  <!-- unsupported message-->
                  <div class="jp-playlist">
                    <ul>
                      <li></li>
                    </ul>
                  </div>
                  <div class="jp-no-solution"><span>Update Required</span>Here's a message which will appear if the video isn't supported. A Flash alternative can be used here if you fancy it.</div>
                  <!-- end jp_container_1-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <twig:compuhelp-advantagesTwo langSelector="{{langSelector}}" />
  {% for service in services %}
    {% if loop.index % 2 == 0 %}
      {% set reverse = "section-md-reverse" %}
    {% else %}
      {% set reverse = "" %}
    {% endif %}
    <twig:compuhelp-service-lg service="{{service}}" reverse="{{reverse}}" langSelector="{{langSelector}}" />
  {% endfor %}
  <twig:compuhelp-testimonials testimonials="{{testimonials}}" layout="2" langSelector="{{langSelector}}"/>
{% endblock %}
