{% extends 'compuhelp/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block page %}
  <!-- Inspirational technologies-->
  <section class="section bg-gray-darker text-center">
    <div class="section-xl bg-vide" data-vide-bg="mp4: ../video/office-day, poster: ../video/office-day"
      data-vide-options="posterType: jpg, position: 0% 50%">
      <div class="shell shell-wide">
        <div class="range range-50 range-sm-center">
          <div class="cell-sm-10 cell-lg-9">
            <h1>Inspirational Technologies </h1>
            <p class="big">Compuhelp! Enterprises is a one-person company created with the idea of bringing you multipurpose and flexible IT
            Solutions. With a wealth of experience in the field, René Lanteigne offers a personalized and hands-on approach to address all your IT needs.
            From troubleshooting technical issues to implementing strategic IT solutions, He is your go-to expert for efficient and effective IT consulting.
            He is also a veteran software designer, developer and database administrator. He uses various innovative technologies that make your work not only
            easier but more productive without unnecessary coding.</p><a class="button button-primary" href="index.php/about-me">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Services-->
  <section class="section section-lg bg-white text-center">
    <div class="shell-wide">
      <div class="text-center">
        <h3>My Services</h3>
        <div class="divider divider-default"></div>
      </div>
      <div class="range range-50 range-xs-center offset-custom-2">
      {% for service in services %}
        <twig:compuhelp-service service="{{service}}" />
      {% endfor %}
      </div>
    </div>
  </section>

  <!-- About Me-->
  <section class="section section-wrap section-wrap-lg section-reverse bg-image text-center" style="background-image:url('/images/compuhelp/aboutme.png')";>
    <div class="row g-5 text-center">
      <div class="col align-self-center p-5 text-center" >
        <h3>About Me</h3>
        <hr class="divider divider-default" />
      </div>
      <div class="row g-5">
        <div class="column p-5" >
          <div class="p-5 col-5 bg-dark rounded" style="opacity: .85;" >
            <article class="quote-primary" >
              <svg class="quote-primary-mark opacity-100" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="25px" viewBox="0 0 35 25">
                <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5L7.539,10.206z"></path>
              </svg>
              <div class="quote-primary-text" style="opacity: 1;" >
                <p>Empowering businesses through technology, I bridge the gap between vision and reality, turning challenges into opportunities, and transforming complexity into simplicity. In the realm of IT, my expertise is your strategic advantage.</p>
              </div>
              <p class="quote-primary-meta" style="opacity:1;" ><span style="opacity:1;" >by</span><span class="cite" style="opacity:1;" >René Lanteigne</span></p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 text-center">
      <div class="col align-self-center p-5 text-center">
        <a class="button button-primary" href="/index.php/about-me">Learn more</a>
      </div>
    </div>
  </section>

  <!-- Our Advantages -->
  <section class="section section-wrap section-wrap-lg section-reverse bg-gray-darker">
    <div class="section-wrap-inner">
      <div class="shell shell-wide">
        <div class="range range-50 range-sm-center range-lg-left">
          <div class="cell-sm-12 cell-md-10 cell-lg-7 cell-xl-6">
            <div class="section-lg">
              <h3>My Advantages</h3>
              <div class="divider divider-default"></div>
              <div class="range range-30">
                <div class="cell-sm-6">
                  <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon mdi mdi-thumb-up-outline"></div>
                    <p class="big box-minimal-title">Individual Approach</p>
                    <hr />
                    <div class="box-minimal-text">I use an individual approach to each client and I never offer you a
                      set of standard decisions for your business.</div>
                  </article>
                </div>
                <div class="cell-sm-6">
                  <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon mdi mdi-account-multiple"></div>
                    <p class="big box-minimal-title">Extensive Expertise</p>
                    <hr />
                    <div class="box-minimal-text">Whether its designing, software development, database administration, marketing or server maintenance/migration, I am ready to help you with a personalized IT solution to suit your needs.</div>
                  </article>
                </div>
                <div class="cell-sm-6">
                  <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon mdi mdi-headset"></div>
                    <p class="big box-minimal-title">Online Support</p>
                    <hr />
                    <div class="box-minimal-text">I answer every online support request within 24 hours and help you solve any issue you may have with my products and services.</div>
                  </article>
                </div>
                <div class="cell-sm-6">
                  <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon mdi mdi-credit-card"></div>
                    <p class="big box-minimal-title">Various Payment Methods</p>
                    <hr />
                    <div class="box-minimal-text">I provide a variety of payment methods that include Paypal,
                      Visa/Mastercard debit and credit cards and others.</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-wrap-aside section-wrap-image"><img src="{{asset('images/compuhelp/landing-it-company-6-942x1250.jpg')}}" alt=""
          width="942" height="1250" />
      </div>
    </div>
  </section>

  <!-- Blog posts-->
  <section class="section section-lg bg-gray-lighter text-center">
    <div class="shell-wide">
      <div class="range">
        <div class="cell-xs-12">
          <h3>Latest Blog Posts</h3>
          <div class="divider divider-default"></div>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-sm-items="2"
            data-lg-items="3" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false"
            data-dots="true">
            {% for post in recent_posts %}
              {% set image = asset(post.imagePath) %}
              <twig:compuhelp-postblog link="/index.php/blog?post={{post.id}}&type={{post.type.id}}" image="{{image}}" category="{{post.category.name}}" title="{{post.title}}" datetime="{{post.getTimePosted()}}" /> 
            {% endfor %}
          </div>
        </div>
      </div><a class="button button-primary" href="index.php/blog">view all blog posts </a>
    </div>
  </section>
{% endblock %}