{% props testimonials = null, layout = null, langSelector = "Français" %}

<!-- Testimonials-->

{% if layout == 1 %}
	{% set bg = "white" %}
	{% set shell = "bigger" %}
	{% set dataNav = "true" %}
	{% set quotestyle = "boxed" %}
{% elseif layout == 2 %}
	{% set bg = "gray-lighter" %}
	{% set shell = "wide" %}
    {% set dataNav = "false" %}
  	{% set quotestyle = "vertical" %}
{% endif %}
  <section class="section section-lg text-center bg-{{bg}}">
    <div class="shell shell-{{shell}}">
    {% if layout == 2 %}<div class="range range-50 range-sm-center"><div class="cell-sm-11 cell-md-10 cell-xl-7 cell-xxl-6">{% endif %}
{% if langSelector == "Français" %}
      <h3>Testimonials</h3>
{% else %}
      <h3>Témoignages</h3>
{% endif %}
      <div class="divider divider-default"></div>
      {% if testimonials|length > 1 %}
      <!-- Owl Carousel-->
            <div class="owl-carousel owl-layout-{{layout}}" data-items="1" data-dots="true" data-nav="{{dataNav}}" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        {% else %}
            <div class="p-5" >
        {% endif %}

        {% for testimonial in testimonials %}
            {% set image = asset(testimonial.imagepath) %}
            <article class="quote-{{quotestyle}}">
                {% if layout ==1 %}<div class="quote-boxed-aside">{% endif %}<img class="quote-{{quotestyle}}-image" src="{{image}}" alt="" width="210" height="210"/>{% if layout ==1 %}</div>{% endif %}
        		{% if layout ==1 %}<div class="quote-boxed-main">{% endif %}
                <div class="quote-{{quotestyle}}-text">
                    <p>{{testimonial.content}}</p>
                </div>
                <div class="quote-{{quotestyle}}-meta">
                    <p class="quote-{{quotestyle}}-cite">{{testimonial.author}}</p>
                    <p class="quote-{{quotestyle}}-small">{{testimonial.position}}</p>
                </div>
        		{% if layout ==1 %}</div>{% endif %}
            </article>
        {% endfor %}
        </div>
    </div>
</section>
