<!-- Our Projects-->
<section class="section section-lg section-bottom-0 bg-gray-lighter text-center">
    <h3>My Projects</h3>
    <div class="isotope-wrap range range-50">
        <!-- Isotope Content-->
        <div class="cell-lg-12">
        <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery-01" data-lightgallery="group">
            <div class="row row-condensed row-no-gutter">
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 1">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-01-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Eric Howard</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 1">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-02-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Basketball Team</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 1">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-03-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Political Candidate</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 2">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-04-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Industrial Company</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 2">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-05-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Construction Company</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 isotope-item" data-filter="type 2">
                <div class="gallery-item title-inside-gallery-item gallery-item-fullwidth">
                <div class="gallery-item-image">
                    <figure><img src="{{asset('images/compuhelp/title-inside-gallery-06-640x430.jpg')}}" alt="" width="640" height="430" />
                    </figure>
                    <div class="title-inside-gallery-caption"><a class="title-inside-gallery-title"
                        href="single-project.html">Boxing Club</a>
                    <p class="title-inside-gallery-text">Our qualified team is ready to design, develop, and support
                        your website.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
