{% props  post = null, langSelector = "Français" %}

{% if langSelector == "Français" %}
    {% set language = "en" %}
{% else %}
    {% set language = "fr" %}
{% endif %}

<!-- Post modern-->
<article class="post-modern">
    <div class="post-modern-aside">
        {% set datetime = post.getTimePosted(language) %}
        {% set authorImg = asset(post.authorImagePath) %}
        {% set postImg = asset(post.imagePath) %}
        <time>{{datetime}}</time>
        <figure class="post-modern-avatar-wrap"><img class="post-modern-avatar" src="{{authorImg}}" alt="" width="108" height="108"/>
        </figure>
        <p class="post-modern-author"><a href="/about-me">{{post.author}}</a></p>
    </div>
{% if langSelector == "Français" %}
    <div class="post-modern-main"><a class="post-modern-image" href="/blog?post={{post.id}}"><img src="{{postImg}}" alt="" width="870" height="580"/></a>
        <div class="post-modern-body">
        <h5 class="post-modern-title"><a href="/blog?post={{post.id}}">{{post.getTitle(language)}}</a></h5>
{% else %}
    <div class="post-modern-main"><a class="post-modern-image" href="/fr/blog?post={{post.id}}"><img src="{{postImg}}" alt="" width="870" height="580"/></a>
        <div class="post-modern-body">
        <h5 class="post-modern-title"><a href="/fr/blog?post={{post.id}}">{{post.getTitle(language)}}</a></h5>
{% endif %}
        <p style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; overflow: hidden;">{{post.getParagraphs(language)|first.content}}</p>
        <div class="post-modern-footer">
            <div>
            <ul class="post-modern-meta">
                <li><span class="icon mdi mdi-tag"></span><a href="/blog?category={{post.category.id}}">{{post.category.getName(language)}}</a></li>
            </ul>
            </div>
            <div>
            <ul class="post-modern-info">
                <li><span class="icon mdi mdi-eye"></span><span>{{post.views}}</span></li>
{% if langSelector == "Français" %}
                <li><a href="/blog?post={{post.id}}"><span class="icon mdi mdi-comment"></span><span>{{post.commentCount}}</span></a></li>
{% else %}
                <li><a href="/fr/blog?post={{post.id}}"><span class="icon mdi mdi-comment"></span><span>{{post.commentCount}}</span></a></li>
{% endif %}
            </ul>
            </div>
        </div>
        </div>
    </div>
</article>
